<footer class="mt-5">
  <div class="footer">
    <div class="row justify-content-center social-media">
      <div class="col-3 col-md-1 bg-white log-div">
        <a href="tel:+996531297697">
          <img class="logo conatct-social-media" height="175px" src="../../assets/img/phone.svg">
        </a>
      </div>
      <div class="col-3 col-md-1 bg-white log-div">
        <a href="https://twitter.com/labellaclinics?lang=en">
          <img class="logo conatct-social-media" height="175px" src="../../assets/img/twitter.svg">
        </a>
      </div>
      <div class="col-3 col-md-1 bg-white log-div">
        <a href="https://www.instagram.com/labellaclinics/">
          <img class="logo conatct-social-media" height="175px" src="../../assets/img/instagram.svg">
        </a>
      </div>
      <div class="col-3 col-md-1 bg-white pl-md-3 log-div">
        <a href="mailto:labella9994@gmail.com">
          <img class="logo conatct-social-media" height="175px" src="../../assets/img/email.svg">
        </a>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-10 align-self-center">
        <app-contact-info></app-contact-info>
      </div>
      <div class="col-md-2">
        <img class="logo" height="175px" src="../../assets/img/logo_labela.png">
      </div>
    </div>
  </div>
</footer>