<div class="primary-background">
  <div class="py-5">
    <div class="row justify-content-center">
      <h4 class="mb-4 primary-header-line">
        <i class="fas fa-square-full diamond"></i>
        <span class="text-center mx-lg-4" translate>About us</span>
        <i class="fas fa-square-full diamond"></i>
      </h4>
    </div>

    <div class="row text-center justify-content-center">
      <div class="col-md-4 card remove-shadow">
        <div class="card-header">
          <div class="card-img">
            <img src="../../assets/img/IMG_3261-min.JPG" alt="vision">
          </div>

        </div>
        <div class="card-body text-center">
          <h5 class="text-center" translate>vision</h5>
          <span class="justify-content-center text-center" translate>vision text</span>
        </div>
      </div>

      <div class="col-md-4 card remove-shadow">
        <div class="card-header">
          <div class="card-img">
            <img src="../../assets/img/Webp.net-resizeimage.jpg" alt="mission">
          </div>
        </div>
        <div class="card-body text-center">
          <h5 class="text-center" translate>message</h5>
          <span class="justify-content-center text-center" translate>message
            text</span>
        </div>
      </div>
      <div class="col-md-4 card remove-shadow">
        <div class="card-header">
          <div class="card-img">
            <img class="values" src="../../assets/img/قيمنا-min.jpg" alt="values">
          </div>
        </div>
        <div class="card-body text-center">
          <h5 class="text-center" translate>values</h5>
          <span class="justify-content-center align-text-center" translate>values
            text</span>
        </div>
      </div>
    </div>

  </div>
</div>