<div class="row margin-top contact-content">
  <div class="col-md-3 ">


    <h4 translate>
      <img class="img-size" height="50" src="../../assets/img/phone_foter.svg">
      Mobile
    </h4>
    <h5 class="m-s-50">
      0531297697
    </h5>
  </div>

  <div class="col-md-3 ">

    <h4 translate>
      <img class="img-size" height="50" src="../../assets/img/time.svg">
      work-time
    </h4>
    <h5 class="m-s-50">
      9<span translate>am</span>-9
      <span translate>pm</span>
    </h5>
  </div>

  <div class="col-md-6">
    <a href="https://maps.app.goo.gl/ZXuhhkor1DzrkFnEA">
      <h4 translate>
        <img class="img-size" height="50" src="../../assets/img/location.svg">
        location
      </h4>
      <h5 translate>
        location-text
      </h5>
    </a>
  </div>
</div>