<div id="page-top" style="height: 100%;">
  <app-home></app-home>
  <div id="scrollbody" class="container-fluid p-0">

    <div id="about" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="850">
      <app-about></app-about>
    </div>
    <div id="services" data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="850">
      <app-services></app-services>
    </div>
    <div id="medical" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="850">
      <app-medical></app-medical>
    </div>
    <div id="doctors" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="850">
      <app-our-doctors></app-our-doctors>
    </div>
    <div id="pictures" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="850">
      <app-pictures></app-pictures>
    </div>
    <div id="contact" data-aos-easing="ease-out-cubic" data-aos-duration="850">
      <app-contact-us></app-contact-us>
    </div>

    <div id="book" data-aos-easing="ease-out-cubic" data-aos-duration="850">
      <app-booking></app-booking>
    </div>
  </div>

</div>
<app-footer></app-footer>