<div class="row justify-content-center padding">
  <h4 class="mb-4 primary-header-line">
    <i class="fas fa-square-full diamond"></i>
    <span class="text-center" translate>Our services</span>
    <i class="fas fa-square-full diamond"></i>
  </h4>
</div>
<div class="gray-background z-depth-1">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-md-3 line">
        <div class="row">
          <div class="col-md-5">
            <img class="lips" src="../../assets/img/lips.svg" />
          </div>
          <div class="col-md-7">
            <h5 translate>
              filler
            </h5>
            <p translate>
              filler-message
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img class="lips" src="../../assets/img/botox.svg" />
          </div>
          <div class="col-md-7">
            <h5 translate>
              bottox
            </h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <img class="plasma" src="../../assets/img/blood.svg" />
          </div>
          <div class="col-md-7">
            <h5 class="plasma-text" translate>
              plasma
            </h5>

          </div>
        </div>

        <div class="row">
          <div class="col-md-5 injection-margin">
            <img class="injection-img" src="../../assets/img/injection.svg" />
          </div>
          <div class="col-md-7">
            <h5 class="meso-text" translate>
              meso
            </h5>

          </div>
        </div>

      </div>
      <div class="col-md-3 line">
        <div class="row">
          <div class="col-md-5">
            <img class="scar" src="../../assets/img/scar.svg" />
          </div>
          <div class="col-md-7">
            <h5 translate>
              fatburn
            </h5>

          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <img class="facelift" src="../../assets/img/face-lift.svg" />
          </div>
          <div class="col-md-7 facelift-text">
            <h5 translate>
              facelift
            </h5>
            <p translate>
              facelift-message
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img class="laser" src="../../assets/img/hair-removal.svg" />
          </div>
          <div class="col-md-7 laser-text">
            <h5 translate>
              laser
            </h5>

          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img class="acni" src="../../assets/img/epidermis2.svg" />
          </div>
          <div class="col-md-7">
            <h5 translate>
              acni
            </h5>
            <p translate>
              acni-message
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 line">
        <div class="row">
          <div class="col-md-5">
            <img class="peel" src="../../assets/img/skin-2.svg" />
          </div>
          <div class="col-md-7">
            <h5 translate>
              peel
            </h5>
            <p translate>
              peel-message
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 skin-margin">
            <img class="chem" src="../../assets/img/skin-vector-icon-set-exfoliate-450w-608694758.svg" />
          </div>
          <div class="col-md-7 chem-text">
            <h5 translate>
              chem
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 lesamed-margin">
            <img class="hairlaser" src="../../assets/img/lesamed.svg" />
          </div>
          <div class="col-md-7 hairlaser-text">
            <h5 translate>
              hairlaser
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 exfo-margin">
            <img class="growth" src="../../assets/img/exfoliate-450w-608694758.svg" />
          </div>
          <div class="col-md-7 growth-text">
            <h5 translate>
              growth
            </h5>
          </div>
        </div>
      </div>





      <div class="col-md-3">
        <div class="row">
          <div class="col-md-5">
            <img class="peel" src="../../assets/img/skin-2.svg" />
          </div>
          <div class="col-md-7">
            <h5 translate>
              تنظيف البشرة العميق بجهاز الهيدرابيوتي
            </h5>

          </div>
        </div>
        <div class="row">
          <div class="col-md-5 skin-margin">
            <img class="chem" src="../../assets/img/skin-vector-icon-set-exfoliate-450w-608694758.svg" />
          </div>
          <div class="col-md-7 chem-text">
            <h5 translate>
              شد الوجه والرقبة عن طريق جهاز الألترافورمر
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 lesamed-margin">
            <img class="hairlaser" src="../../assets/img/lesamed.svg" />
          </div>
          <div class="col-md-7 hairlaser-text">
            <h5 translate>
              جلسات الإنفيني
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 exfo-margin">
            <img class="growth" src="../../assets/img/exfoliate-450w-608694758.svg" />
          </div>
          <div class="col-md-7 growth-text">
            <h5 translate>
              الفراكشنال ليزر
            </h5>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>