<div class="row justify-content-center padding">
  <h4 class="mb-4 primary-header-line">
    <i class="fas fa-square-full diamond"></i>
    <span class="text-center" translate>medical</span>
    <i class="fas fa-square-full diamond"></i>
  </h4>
</div>
<div class="container">
  <div class="row mx-2 mx-md-5">
    <div class="col-md-4 p-a-2">
      <img class="medic-images" src="../../assets/img/جهاز اللزميد-min.jpg">
    </div>
    <div class="col-md-8 p-0 p-lg-4 align-self-center">
      <h4 class="device-name">
        جهاز الليزمد
      </h4>
      <p class="h5 line-height">
        من أحدث الأجهزة المتطورة في عالم التجميل والعناية بالبشرة، عبارة عن جهاز ليزر لمحفزات النمو، وحقن
        الخلايا
        الجذعية بالليزر.
      </p>
      <p class="h6">فوائده للبشرة:</p>
      <ol>
        <li>تفتيح المناطق الغامقة في جميع أنحاء الجسم</li>
        <li>يعيد نضارة البشرة</li>
        <li>يعالج آثار حب الشباب وتصبغات البشرة</li>
        <li>يعتبر مقشّر للبشرة</li>
        <li>يساهم بتقليل اثار تقدّم السن والشيخوخة</li>
        <li>يساهم بإعادة تكوين الكولاجين</li>
      </ol>
      <p class="h6">فوائده للشعر:</p>
      <ol>
        <li>يعيد الحيوية والصحة للشعر</li>
        <li>يحفّز نموّ الشعر</li>
      </ol>
    </div>
  </div>

  <div class="row flex-row-reverse mx-2 mx-md-5">
    <div class="col-md-4 p-a-2">
      <img class="medic-images" src="../../assets/img/جهاز الألترافورمر-min.jpg">
    </div>
    <div class="col-md-8 p-0 p-lg-4 align-self-center">
      <h4 class="device-name">
        جهاز الألترافورمر
      </h4>
      <p class="h5 line-height">
        هو جهاز بتقنية الهايفو، نتائجه فورية ولايحتاج إلى فترة تعافي
      </p>
      <p class="h6">فوائده:</p>
      <ul>
        <li>شد الوجه والرقبة بطريقة آمنه وسريعة غير جراحية</li>
      </ul>
    </div>
  </div>

  <div class="row mx-2 mx-md-5">
    <div class="col-md-4 p-a-2">
      <img class="medic-images" src="../../assets/img/جهاز الإنفيني-min.jpg">
    </div>
    <div class="col-md-8 p-0 p-lg-4 align-self-center">
      <h4 class="device-name">
        جهاز الإنفيني
      </h4>
      <p class="h5 line-height">
        يسمى جهاز الإنفيني بتقنية الشباب الدائم
      </p>
      <p class="h6">حيث أنه:</p>
      <ol>
        <li>يعالج الندبات والمسام الواسعة</li>
        <li>يعمل على شد البشرة دون الحاجة إلى الجراحة</li>
        <li>يعالج ترهلات الرقبة</li>
        <li>يعيد نضارة البشرة</li>
        <li>يعالج الندبات القديمة الناتجة عن الجروح والآثار الجراحية</li>
      </ol>

    </div>
  </div>

  <div class="row flex-row-reverse mx-2 mx-md-5">
    <div class="col-md-4 p-a-2">
      <img class="medic-images" src="../../assets/img/جهاز الفراكشنال ليزر-min.jpg">
    </div>
    <div class="col-md-8 p-0 p-lg-4 align-self-center">
      <h4 class="device-name">
        جهاز الفراكشنال
      </h4>
      <p class="h5 line-height">
        ليزر يعمل بطريقة علاجية ليمنح خلايا البشرة القدرة على الانقسام والتجدد
      </p>
      <p class="h6">فوائده:</p>
      <ol>
        <li>شد البشرة وإعادة نضارتها</li>
        <li>إخفاء آثار حب الشباب والندبات من البشرة</li>
        <li>يعالج آثار الحروق والجروح</li>
        <li>يعالج المسام الواسعة ويحسن ملمس الجلد ويجعله مشدوداً</li>
        <li>يعالج تشققات الجلد</li>
      </ol>
    </div>
  </div>



  <div class="row mx-2 mx-md-5">
    <div class="col-md-4 p-a-2">
      <img class="medic-images" src="../../assets/img/جهاز سبكترا-min.jpg">
    </div>
    <div class="col-md-8 p-0 p-lg-4 align-self-center">
      <h4 class="device-name">
        جهاز سبكترا ليزر
      </h4>
      <p class="h6">فوائده:</p>
      <ul>
        <li>تشقير شعر الوجه والجسم</li>
      </ul>

    </div>
  </div>

  <div class="row flex-row-reverse mx-2 mx-md-5">
    <div class="col-md-4 p-a-2">
      <img class="medic-images" src="../../assets/img/جهاز جنتل بروماكس الليزر-min.jpg">
    </div>
    <div class="col-md-8 p-0 p-lg-4 align-self-center">
      <h4 class="device-name">
        جهاز جنتل بروماكس ليزر
      </h4>
      <p class="h6">فوائده:</p>
      <ul>
        <li> إزالة شعر الجسم</li>
      </ul>
    </div>
  </div>






</div>