<div class="row justify-content-center padding">
  <h4 class="mb-4 primary-header-line">
    <i class="fas fa-square-full diamond"></i>
    <span class="text-center" translate>pictures</span>
    <i class="fas fa-square-full diamond"></i>
  </h4>
</div>
<div class="img-fluid">
  <div class="container">

    <!-- Grid column -->
    <!-- <div class="col-lg-4 col-md-12 mb-3">

      <img src="../../assets/img/AE0I6465.jpg" class="img-fluid z-depth-1"
        alt="Responsive image">

    </div> -->
    <!-- Grid column -->

    <!-- Grid column -->
    <!-- <div class="col-lg-4 col-md-6 mb-3">

      <img src="../../assets/img/IMG›
_3259.JPG" class="img-fluid z-depth-1"
        alt="Responsive image">

    </div> -->
    <!-- Grid column -->

    <!-- Grid column -->
    <!-- <div class="col-lg-4 col-md-6 mb-3">

      <img src="../../assets/img/IMG_3261.JPG" class="img-fluid z-depth-1"
        alt="Responsive image">

    </div> -->
    <!-- <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
  <button (click)="prevImageClick()">Prev</button>
  <button (click)="nextImageClick()">Next</button> -->
    <!-- </div>-->



    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/جهاز الألترافورمر-min.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/جهاز الإنفيني-min.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/جهاز الفراكشنال ليزر-min.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/جهاز اللزميد-min.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/جهاز جنتل بروماكس الليزر-min.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/جهاز سبكترا-min.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/3256.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/3257.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/3259.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/3260.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/3261.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/3262.jpg">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/img/3263.jpg">
      </mdb-carousel-item>

    </mdb-carousel>
  </div>
</div>